img {
    max-width: 100%;
}

.drink-menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.drink {
  width: 180px;
  display: inline-block;
}

.hide {
    display: none;
}

.block {
  display: block;
}
