.table-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.table {
    width: 200px;
    height: 200px;
    background: brown;
    text-align: center;
}

.broj-stola {
  font-size: 66px;
}
