.table-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.table {
    background: brown;
    cursor: pointer;
    height: 200px;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
}

.broj-stola {
  font-size: 66px;
}
